/** Mansi Desai - mdesai4946@conestogac.on.ca **/
body{
   font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    padding: 10px;
    border: 2px solid black;
    margin: auto;
}
div{
    background-color: rgb(250, 244, 249);
}
header{
    text-align: center;
    font: 40px bold black;
    color: rgb(113, 114, 50);
    margin: auto;
    background-color: rgb(241, 216, 216);
}
#fruit{
    width:10%;
    float:left;
}
h4{
    background-color: rgb(233, 215, 183);
    text-align: center;
    padding: 5px;
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
    padding: 10px;
}
nav a{
    padding: 0 40px ;
    text-align: right;
    margin: 25px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    background-color: rgb(224, 221, 221);
}
aside{
    width: 30%;
    padding: 30px;
    margin: 20px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    float: left;
}
#retouch{
    margin-left: auto;
    width:50%;
}
p{
    width:400px;
    margin-left: 330px;
    background-color: rgb(197, 238, 213);
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
}
footer{
   margin: 40px;
   margin-top: 40px;
   text-align: center;
   font-size: 20px;
   color: grey;
   font-family:'Times New Roman', Times, serif;
}